@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;	
}
html{
	font-size: 10px;
	font-family: 'Cabin', sans-serif;
	letter-spacing: .5rem;
}body{
	background-color:#f6f5f5;
	margin:0px;
	padding:0px;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
section{
	width:100%;
	height:90vh;
	background-size:cover;
	background-repeat:no-repeat;
	position: relative;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items:center;
	height:60px;
	background-color:#ffffff;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	padding:0px 5%;
	
}
nav ul{
	display: flex;
}
.toggle{
	display: none;
}
 
nav ul li a{
	margin:30px;
	font-family:myriad pro regular;
	color:#505050;
	font-size: 15px;
	font-weight:700;
}
.logo{
	font-family:RoadTest;
	color:#000000;
	font-size: 22px;
}
.active{
	color:#2d2a2a;
	font-weight:bold;
}
.container{
	min-height: 90vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
table {
	text-shadow: center;
}
/*------My section--------*/

.model{
	height:530px;
	position:absolute;
	bottom:40px;
	left:75%;
	transform: translateX(-75%);
	
	
}

#my {
	
	background-size: cover;
	background-position: top center;
	position: center;
	z-index: 0;
}
#my::after {
	content: '';
	position: center;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	
	opacity: .7;
	z-index: -1;
}
							/*-- */
#my h1:nth-child(1){
	animation-delay: 1s;
}
#my h1:nth-child(2){
	animation-delay: 2s;
}
#my h1:nth-child(3){
	animation-delay: 3s;
}
#my h1:nth-child(1) span{
	animation-delay: .5s;
}
#my h1:nth-child(2) span{
	animation-delay: 1.5s;
}
#my h1:nth-child(3) span{
	animation-delay: 2.5s;
}
							/*--*/
#my h1{
	display: block;

	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1.5s;

}
#my h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0%;
	background-color: crimson;
	animation: text_reveal_box 1s ease;
	animation-delay: .3s
	
}
#my .cta{
	display: inline-block;
	padding: 10px 30px;
	color: crimson;
	background-color: transparent;
	border: 2px solid crimson;
	text-transform: uppercase;
	letter-spacing: .2rem;
	margin-top: 30px;
	transition: .7s erase background-color;
	transition-property: background-color, color;
}
#my .cta:hover{
	color: white;
	background-color: crimson;
}

#my .my{
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}

.main-nav li a{
	padding: 5px 0;
	color:black;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 120%;
	font-weight: 100;
}
.main-nav li a:hover{
	border-bottom: 2px solid crimson;
}
/*------End of My section-------*/
/*---stikeys---*/
.icon-bar {
	position: fixed;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	
  	width: 50px;
	right: 120px;
  	
  	
  }
  
  /* Style the icon bar links */
  .icon-bar a {
	display: block;
	text-align: center;
	padding: 16px;
	transition: all 0.3s ease;
	color: white;
	font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
	background-color: black;
  }
  
  
  
  .twitter {
	background: #55ACEE;
	color: white;
  }
  
 
  
  .linkedin {
	background: #007bb5;
	color: white;
  }
  
  .github {
	background: crimson;
	color: white;
  }
  /*--end of stickies*/

/*--Keyframes--*/

@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}

@keyframes text_reveal {
	100% {
		color: black;
	}
}
@keyframes fadeOut {
	0% {
	  opacity:1;
	}
	100% {
	  opacity:0;
	}
}
  
@keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
  }
  @media only screen and (max-width:1180px){
	.main-content-header{
		width:100%;
		padding:0 2%;
	}
}
@media only screen and (max-width:998px){
	h1{font-size: 200%;}
}
@media only screen and (max-width:768px){
	h1{font-size: 180%;}
	.main-nav{display: none;}
.mobile-icon{
	display: inline-block;
	color:#fff;
	float: none;
	margin-top: 30px;
	margin-right: 20px;
}
  @-moz-keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
  }
  
  @-webkit-keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
  }
  
  @-o-keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
}
  @-ms-keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
  }
  
/*--Keyframes--*/